<div>
  <%= image_tag @flat.image, class: "cover" %>
</div>

<div class="container overlap">
  <div class="row">
    <div class="col-md">

      <div class="card bg-light m-2">
        <div class="card-body">
          <h3> <%= @flat.name %> </h3>
          <p> <%= @flat.address %> </p>
        </div>
      </div>

      <div class="card bg-light m-2">
        <div class="card-body">
          <h4>Description</h4>
          <p> <%= @flat.description %> </p>
          <%= image_tag 'map.png', class: "img-fluid full-img mt-2" %>
        </div>
      </div>
    </div>

    <div class="col-sm">

      <div class="card bg-light m-2">
        <div class="card-body">
          <h4>Book this place!</h4>
          <form>
            <label class="sr-only" for="inlineFormInputGroup">From</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">From:</div>
                </div>
                <input type="date" class="form-control" id="inlineFormInputGroup">
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">To:</div>
                </div>
                <input type="date" class="form-control" id="inlineFormInputGroup">
              </div>
            <button type="submit" class="btn btn-block btn-success">Book</button>
          </form>
        </div>
      </div>

      <div class="card bg-light m-2">
        <div class="card-body">
          <h4>Details</h4>
          <i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %>
          <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %>
        </div>
      </div>

      <div class="card bg-light m-2">
        <div class="card-body">
          <h5>Share</h5>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-pinterest-square"></i>
          <i class="fas fa-envelope-square"></i>
        </div>
      </div>

    </div>
  </div>
</div>
